// COLOURS:
$primaryColor: #084b6d;
$secondaryColor: #f4fcff;
$tertiaryColor: #f8fbf3;
$quaternaryColor: #fff5f5;
$quinaryColor: #ffd698;
$pastelBlue: #d3f0f9;
$white: #fff;

// Font families
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 1rem;